<span><strong>Hostname:</strong> {{ah}}</span>
<span><strong>Last Status:</strong> {{lastStatus}}</span>
<span><strong>Version:</strong> {{av}}</span>
<span><strong>OS:</strong> {{aos}} ({{aa}})</span>

<canvas width="200" height="200"></canvas>
